{% extends 'base.html' %}

{% block contant %}

<div class="container p-3">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Id</th>
            <th scope="col">Product</th>
            <th scope="col">VAT</th>
            <th scope="col">Bin</th>
            <th scope="col">Licence</th>
            <th scope="col">Details</th>
            <th scope="col">Approve</th>
            <th scope="col">Deny</th>
          </tr>
        </thead>
        <tbody>
          {% for approve in approve  %}
          {% load static %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td> {{ approve.user_id_id}}</td>
                <td> {{ approve.name}}</td>
                <td><a href="/media/{{approve.vat}}" target="_blank">{{approve.vat}}</a></td>
                <td><a href="/media/{{approve.bin}}" target="_blank">{{approve.bin}}</a></td>
                <td><a href="/media/{{approve.licence}}" target="_blank">{{approve.licence}}</a></td>
                <td><a href="/startup/startupDetails/{{approve.user_id_id}}" class="btn btn-dark"> <b> Details</b></a></td>
                <td><a href="/adminControl/adminApproval/{{approve.user_id_id}}" class="btn btn-success"> <b> Approve</b></a></td>
                <td><a href="/adminControl/adminDeny/{{approve.user_id_id}}" class="btn btn-danger"> <b> Deny</b></a></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}