{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block contant %}
<div class="container my-5 p-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia harum sunt in, molestiae, quaerat perferendis qui
    aperiam deleniti, cupiditate eius atque illum perspiciatis ipsum at tempora nemo maxime nisi. Odio pariatur aliquid
    in id, magnam veniam alias commodi dicta illum culpa fuga molestias quisquam quidem aliquam porro? Mollitia minima
    debitis impedit non ipsa tempore est at cumque! Magni debitis veritatis incidunt ipsa consequatur aliquid fugiat
    vitae unde quis ut reiciendis, ad neque autem natus voluptatem nostrum similique aut nisi fuga deserunt dignissimos.
    Similique pariatur sunt deserunt, expedita, fuga et quasi consequuntur dolorum unde quibusdam architecto, libero
    rerum obcaecati esse maiores.
</div>
{% endblock %}