{% extends 'base.html' %}
{% block title %}Startup Revinue Details{% endblock %}
{% block graph %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {
        var daat = $("#data").val();
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Dogs');
        data_arr = [[0, 0],]
        $.ajax({
            type: 'GET',
            url: '/investor/company_rev_details-ajax/' + daat,
            success: function (response) {
                for (i in response.g2_data) {
                    data_arr.push([response.g2_data[i].months, response.g2_data[i].total]);
                }
                console.log(data_arr);
                data.addRows(data_arr);
                var options = {
                    hAxis: {
                        title: 'Time'
                    },
                    vAxis: {
                        title: 'Popularity'
                    }
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                chart.draw(data, options);
            }
        });
        }
    



</script>
{% endblock %}
{% block contant %}
<div class="row m-auto" >
    <div id="chart_div" style="margin-bottom: 296px;"></div>
    <input type="hidden" name="" id="data" value="{{com}}">
</div>
<br>
<br>
{% endblock %}