<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Signup</title>
    <style>
        body {
            background-image: linear-gradient(rgba(22, 21, 21, 0.377), rgba(33, 33, 68, 0.322)), url(/static/Money-Blue-Backgrounds.jpg);

        }

        .nav-logo {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-left: 80px;
        }

        .form-control {
            background: transparent;
            border: none;
            border-bottom: 1px solid rgb(42, 142, 255);
            color: white;
        }

        .submit_form label {
            color: white;
        }
    
    </style>
</head>

<body>
    <div>
        <nav class="navbar" style="background: transparent;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/static/a735187fbe0b6411fa837984bbef50d7.jpg" class="nav-logo" alt="Logo" width="30"
                        height="24" class="d-inline-block align-text-top">
                    <span
                        style=" color: white; margin-left: 15px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Venture-Vest</span>
                </a>
            </div>
        </nav>
    </div>

    <div class="col-md-6 ms-auto mx-5 p-5" style="background-color: rgba(25, 25, 68, 0.233); margin-top: 30px;">
        <h2 style="color: white; font-family: Arial, Helvetica, sans-serif;">Create An Account</h2>

        <form action=" {% url 'signup' %}" method="post" class="submit_form">
            {% csrf_token %}
            <div class="row p-2">
                <div class="col p-2">
                    <input type="text" class="form-control" name="fname" placeholder="First name" aria-label="First name" required>
                </div>
                <div class="col p-2">
                    <input type="text" class="form-control" name="lname" placeholder="Last name" aria-label="Last name">
                </div>
            </div>


            <div class="row p-2">
                <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Email" required>
            </div>

            <div class="row p-2">
                <input type="email" class="form-control" name="email" placeholder="Email" aria-label="Email" required>
            </div>

            <div class="row p-2">
                <div class="col p-2">
                    <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" required>
                </div>
                <div class="col p-2">
                    <input type="password" class="form-control" name="c_pass" placeholder="Confirm Password"
                        aria-label="Confirm Password" required>
                </div>
            </div>

            <div class="row p-2">
                <div class="col p-2">
                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="male">
                    <label for="gender">Male</label>
                </div>
                <div class="col p-2">
                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="female">
                    <label for="gender">Female</label>
                </div>
                <div class="col p-2">
                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="other">
                    <label for="gender">Others</label>
                </div>
            </div>

            <div class="row p-2">
                <div class="col p-2">
                    <input class="form-check-input" type="radio" name="catagory" id="flexRadioDefault1" value="investor">
                    <label for="gender">Investor</label>
                </div>
                <div class="col p-2">
                    <input class="form-check-input" type="radio" name="catagory" id="flexRadioDefault1" value="startup">
                    <label for="gender">Startup</label>
                </div>
            </div>

            <div class="row p-3">
                <input type="submit" class="btn btn-primary px-1" value="Sign up">
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>