{% extends 'base.html' %}

{% block contant %}

<head>
  <!-- <link rel="stylesheet" href="/static/startupDashboard.css" /> -->
</head>
<style>
  .form-control,
  .input-group-text {
    margin-bottom: 10px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  header {
    background-color: #efefef;
    color: rgb(3, 3, 3);
    padding: 10px;
    text-align: center;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  #key-numbers {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    
  }

  .number {
    background:  #ffffff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .number h6 {
    margin-top: 0;
  }

  #fundraising {
    margin-top: 50px;
  }

  #chart {
    height: 300px;
    background-color: #f1f1f1;
  }
</style>

<body>
  <header>
    <h1>{{ startupData.companyName }}</h1>
    <i class="fa fa-map-marker"></i>
    <label for="location">{{ startupData.companyAddress }}</label> <br /> <br>
    <div class="row" style="text-align: center;">
      <div class="col-4"></div>
      <div class="col-4">
        <p>{{ startupData.companyDescription }}</p>
      </div>
      <div class="col-4"></div>
    </div>
    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Apply for Fundraising
    </button>
    <a class="btn btn-outline-dark" href="/startup/deleteList/">
      Remove from listing
    </a>
    
  </header>

  <!-- funding summary -->
  <div class="container my-3">
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <div class="card shadow-lg p-3 mb-2 bg-body rounded" style="background-color: #fff; border-bottom: 3px solid #ff00fb;">
          <div class="card-body text-center">
            <h5 class="card-title">Goal:</h5>
            <p class="card-text">{{startupData2.investment}}</p>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card shadow-lg p-3 mb-2 bg-body rounded" style="background-color: #fff; border-bottom: 3px solid #ff0000;">
          <div class="card-body text-center">
            <h5 class="card-title">Raised:</h5>
            <p class="card-text">{{totalInvest}}</p>

          </div>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <label for="">Raised: {{proBar | floatformat:2}}</label><br>
      <div class="progress">
        
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ proBar }}%;"></div>

      </div>
      
    </div>
  </div>

  <div class="container p-5">
    <div class="row">
      <div class="col-md ">
        <img src="{{ startupData2.image.url }}" alt="" style="border-radius: 10px; width:100%;" />
      </div>
      <div class="col-md pt-5">
        <h6>Product name: <b> {{ startupData2.name }}</b> </h6>
        <hr>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Duration of fundraising</th>
              <td>{{ startupData2.duration }} Months</td>
            </tr>
            <tr>
              <th scope="row">Min. Investment</th>
              <td>{{ startupData2.investment }} tk.</td>
            </tr>
            <tr>
              <th scope="row">Projected ROI</th>
              <td colspan="2">{{ startupData2.roi }}%</td>
            </tr>
            <tr>
              <th scope="row">Repayments</th>
              <td colspan="2">{{ startupData2.Repayments }} Installment</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <h6> <b>Overview </b></h1>
          <label for="text">{{ startupData2.description }}</label>
      </div>
    </div>

    <div class="right">

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Describe your Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container" style=" text-align: center;">
            <form action="{% url 'applyForFundrising' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="text" name="name"  class="form-control" placeholder="Name of your product">
              <input type="number" name="duration"  class="form-control"
                placeholder="Duration (e.g. 11 Months)">
              <input type="number" name="investment"  class="form-control"
                placeholder="Min. Investment (e.g. 10,000 tk)">
              <input type="number" name="roi"  class="form-control" placeholder="Projected ROI (e.g. 15%)">
              <input type="text" name="Repayments"  class="form-control"
                placeholder="Repayments (e.g. 4 installments)">
              <div class="input-group">
                <label class="input-group-text" for="image">Product Image.</label>
                <input type="file"  class="form-control" name="image" id="image" />
              </div>
              <textarea class="form-control" name="description"  placeholder="Describe your product"
                style="height: 100px"></textarea>
              <hr>
              <b>Current status</b>
              <input type="number" name="revenue"  class="form-control" placeholder="Revenue">
              <input type="number" name="gross_margin"  class="form-control" placeholder="Gross Margin">
              <input type="number" name="mrr"  class="form-control" placeholder="Monthly Recurring Revenue">
              <input type="number" name="cac"  class="form-control" placeholder="Customer Acquisition Cost">
              <input type="number" name="burn_rate"  class="form-control" placeholder="Burn Rate">

              <hr>
              <label for="input-group"> <b> Upload Some necessary documents</b> </label>
              <div class="input-group">
                <label class="input-group-text" for="vat">VAT.</label>
                <input type="file" class="form-control" name="vat" id="vat" />
              </div>
              <div class="input-group">
                <label class="input-group-text" for="bin">BIN.</label>
                <input type="file" class="form-control" name="bin" id="bin" />
              </div>
              <div class="input-group">
                <label class="input-group-text" for="licence">License.</label>
                <input type="file" class="form-control" name="licence" id="licence" />
              </div>
              <button type="submit" value="post" name="post" class="btn btn-dark">Post</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <main>
    <section id="key-numbers">
      <div class="number card shadow-lg p-3 mb-2 bg-body rounded" style="background-color: #fff; border-bottom: 3px solid #0099ff;">
        <h6> <b>Revenue </b> </h6>
        <p>{{ startupData2.revenue }} tk.</p>
      </div>
      <div class="number card shadow-lg p-3 mb-2 bg-body rounded" style="background-color: #fff; border-bottom: 3px solid #ff0000;">
        <h6><b>Gross Margin </b> </h6>
        <p>{{ startupData2.gross_margin }}%</p>
      </div>
      <div class="number card shadow-lg p-3 mb-2 bg-body rounded" style="background-color: #fff; border-bottom: 3px solid #44ff00;">
        <h6><b>Monthly Recurring Revenue (MRR) </b> </h6>
        <p>{{ startupData2.mrr }} tk.</p>
      </div>
      <div class="number card shadow-lg p-3 mb-2 bg-body rounded" style="background-color: #fff; border-bottom: 3px solid #ffd900;">
        <h6><b>Customer Acquisition Cost </b>  </h6>
        <p>{{ startupData2.cac }} tk.</p>
      </div>
      <div class="number card shadow-lg p-3 mb-2 bg-body rounded" style="background-color: #fff; border-bottom: 3px solid #f200ff;">
        <h6><b>Burn Rate </b> </h6>
        <p>{{ startupData2.burn_rate }} tk.</p>
      </div>
    </section>
     
    <hr>
    <h2>Monthly Revenue</h2>
    <p></p>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">
  Update Monthly revenue
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Monthly revenue</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'monthlyRevenue' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="revenue"><b>Month</b></label>
        <input type="date" name="month"  class="form-control" placeholder="">
        <label for=""><b>Current Revenue</b></label>
        <input type="number" name="currentRevenue"  class="form-control" placeholder="">
        <label for=""><b>Profit of this Month</b></label>
        <input type="number" name="currentProfit"  class="form-control" placeholder="">
        <button type="submit" value="post1" name="post1" class="btn btn-dark">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Revenue</th>
      <th scope="col">Profit</th>
      <th scope="col">Month</th>
    </tr>
  </thead>
  <tbody >
    {% for st3 in startupData3  %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ st3.currentRevenue}}</td>
          <td>{{ st3.currentProfit}}</td>
          <td>{{ st3.month}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Profit Return: -->

<!-- modal -->

<!-- Button trigger modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#example" id="profit">
  Profit Return
</button>
<p>Return profit to the investors</p>

<!-- Modal -->
<div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'return-profit' %}" method="post">
          {% csrf_token %}
          <select class="form-select" aria-label="Default select example" name="i_id" id="investor_list">
            <option value="1">One</option>
          </select>
          <input type="text" name="comment" id="" required>
          <input type="hidden" name="roi" value="{{ startupData2.roi }}">
          <input type="hidden" name="installment" value = "{{ startupData2.Repayments }}">
          <input type="hidden" name="s_id" value = "{{ request.session.id }}">
          <button type="submit" class="btn btn-primary">Payment</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


    <hr>
    <section id="fundraising">
      <h2>Fundraising</h2>
      <p>Current situation of fundraising product</p>
      <div id="chart">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Invest Ammount</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody id = "fundingTable">
            <!-- {% for st3 in startupData3  %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ st3.currentRevenue}}</td>
                  <td>{{ st3.currentProfit}}</td>
                  <td>{{ st3.month}}</td>
                </tr>
            {% endfor %} -->
          </tbody>
        </table>
      </div>
      
    </section>
  </main>
  {% block ajax_script %}
  <script>
    console.log("hi")
    $(document).ready(function(){
      setInterval(function(){
        $.ajax({
          type : 'GET',
          url : '/startup/fundingList/',
          success : function(response){
            $("#fundingTable").empty();
            // console.log(response.data)
            var j =1
            for(i in response.data){
              let temp = '<tr><th scope="row">' + (j) + '</th><td>'+response.i_name[i]+'</td><td>'+ response.data[i].invest_ammount +'</td><td>'+response.data[i].date+ '</td></tr>';
              $("#fundingTable").append(temp);
              j++;
            }
          },
        })
      }, 1000)
    $("#profit").click(function(){
      $.ajax({
        type : 'GET',
        url : '/startup/fundingList/',
        success : function(response){
          // console.log(response)
          $("#investor_list").empty()
          for(i in response.i_name){
            let temp = '<option value="'+ response.i_id[i]+'">'+response.i_name[i] +'</option>'
            $("#investor_list").append(temp);
          }
        },
      })
    });
    });
  </script>
  {% endblock %}
</html>
{% endblock %}