{% extends 'base.html' %}

{% block contant %}
<head>
  <style>
    .container .form-control, .input-group-text, .btn{
      margin-bottom: 10px;
    }
    .btn{
      padding-left: 50px;
      padding-right: 50px;
      background-color:rgb(35, 35, 104);
    }
  </style>
</head>
<div class="container">
    <p>{{uid}}</p>
</div>
<div class="container" style=" text-align: center; width:40%;" >
    <h1 >Basic information of your Company</h1>
    <hr>
    <form action="{% url 'startupHome' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <input type="texttext" name="companyName" required class="form-control" placeholder="Company Name">
        <input type="texttext" name="companyAddress" required class="form-control" placeholder="Address">
        <input type="texttext" name="companyDescription" required class="form-control" placeholder="Overview of your Company">

        {% comment %} <input type="number" name="duration" required class="form-control" placeholder="Duration (e.g. 11 Months)">
        <input type="number" name="investment" required class="form-control" placeholder="Min. Investment (e.g. 10,000 tk)">
        <input type="number" name="roi" required class="form-control" placeholder="Projected ROI (e.g. 15%)">
        <input type="text" name="Repayments" required class="form-control" placeholder="Repayments (e.g. 4 installments)">
        
          <div class="input-group">
            <label class="input-group-text" for="image">Product Image.</label>
            <input type="file" required class="form-control" name="image" id="image" />
          </div>
          <textarea class="form-control" name="description" required placeholder="Describe your product"  style="height: 100px"></textarea>
          <hr>
          <label for="input-group"> <b> Upload Some necessary documents</b> </label>
      <div class="input-group">
        <label class="input-group-text" for="vat">VAT.</label>
        <input type="file"  class="form-control" name="vat" id="vat" />
      </div>
      <div class="input-group">
        <label class="input-group-text" for="bin">BIN.</label>
        <input type="file"  class="form-control" name="bin" id="bin" />
      </div>
      <div class="input-group">
        <label class="input-group-text" for="licence">License.</label>
        <input type="file"  class="form-control" name="licence" id="licence" />
      </div> {% endcomment %}
      <button type="submit" class="btn btn-dark" >Save</button>
    </form>
    
  </div>

{% endblock %}