.container{
    display: flex;
}

.left{
    margin-left: 20px;
    margin-top: 25px;
    width: 650px;
}
.img1{
    height: 400px;
    width: 650px;
}

table{
    margin-top: 10px;
}

.right{
    margin-top: 25px;
    margin-left: 50px;
}


.div1{
    background-color: #0a4275;
    color: black;
    border-radius: 5px;
    height: 120px;
    width: 175px;
    margin-top: 10px;
    text-align: center;
}

.div2{
    background-color: #0a4275;
    color: black;
    border-radius: 5px;
    height: 120px;
    width: 175px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}
.div3{
    background-color: #0a4275;
    color: black;
    border-radius: 5px;
    height: 120px;
    width: 175px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

button{
    background-color: #0a4275;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: 2px;
}

.btncng{
    margin-top: 10px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

