*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: whitesmoke;
}

img{
     height: 700px;
     border-radius: 3px;
}

.container{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;

}

.card{
    height: 700px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.card .intro{
    height: 280px;
    width: 457px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(41, 40, 40, 0.5);
    color: white;
    transition: .5s;
    bottom: -163px;
}

.header{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}


h1{
    margin: 10px;
    font-size: 40px;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    height: 163px;
    bottom: -100px;
}

.card:hover .img{
    transform: scale(1.1) rotate(-3deg);

}

.header h1{
    font-size: 50px;
   position: relative;
   text-decoration: none;
   cursor: pointer;
   
}

.header h1:before{
    content: "";
    position: absolute;
    height: 0.1em;
    width: 52%;
    background-color: black;
    background-size: 200% 100%;
    bottom: -0.1em;
    transition: 1.5s;
}

.header h1:hover:before{
    background-position: 100% 0;
}


.btn{
   border: 1px solid #0b0c0d;
   background: none;
   padding: 10px 20px;
   font-size: 20px;
   cursor: pointer;
   margin: 10px;
   margin-left: 280px;
   margin-top: -100px;
   color: rgb(9, 9, 8);
}

